@charset "UTF-8";

:root {
   --cor0: #3C4F41 ; 
--cor1: #2CDB58; 
--cor2: #41B15D;
--cor3: #498A5A;
--cor4: #405C47;
--cor5:  #28382C;
--cor6:  #2C332E;

--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue', cursive;
--fonte-android: 'Android', cursive;
}

body {
    background-color: rgb(52, 0, 100);
}

header > h1 {

}
main {

}